<!DOCTYPE html>
<html ng-app="desafio" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Desafio 3</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/desafio.css" rel="stylesheet">
    <!-- AngularJS -->   
    <script src="js/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular-messages.js"></script>
    <script src="js/desafio.js"></script>
</head>

<body  ng-controller="formController as vCtrl">

    <!-- Page Content -->
    <div class="container-fluid">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="http://placehold.it/150x50&text=Logo" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <h1 class="side-logo">&nbsp;&nbsp;XMart la mejor tienda </h1>
                <!-- /.navbar-collapse -->
        </nav>

        <!-- Nav bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Inicio <span class="sr-only">(actual)</span></a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Tienda</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>  
            </div>
        </nav>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-6">
                <h2> Datos personales</h2>
                <br>
                <!-- FORMULARIO DATOS PERSONALES -->
                <form ng-submit="vCtrl.submit()" class="form-horizontal" role="form" name="dataForm">
                    <div class="form-group">
                        <label class="control-label col-sm-3">Nombres</label>
                        <div class="col-sm-6">
                            <input type="text" name="firstName" ng-model="vCtrl.inputData.name" class="form-control" placeholder="Ingrese su nombre" required >
                        </div>
                        <div ng-messages="dataForm.firstName.$error" style="color:red" ng-if='dataForm.firstName.$dirty'>
                            <div ng-message="required">Debe ingresar Nombres</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="lastName" >Apellidos</label>
                        <div class="col-sm-6"> 
                            <input type="text" name="lastName" ng-model="vCtrl.inputData.lastName" class="form-control" id="lastName" placeholder="Ingrese su apellido" required>
                        </div>
                        <div ng-messages="dataForm.lastName.$error" style="color:red" ng-if='dataForm.lastName.$dirty'>
                            <div ng-message="required">Debe ingresar Apellidos</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mail" >Correo</label>
                        <div class="col-sm-6"> 
                            <input type="email" name="email" ng-model="vCtrl.inputData.email" class="form-control" id="email" placeholder="Ingrese su correo" required pattern="^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,3})$">
                        </div>
                        <div ng-messages="dataForm.email.$error" style="color:red" ng-if='dataForm.email.$dirty'>
                            <div ng-message="required">Debe ingresar Correo</div>
                            <div ng-message="pattern">Formato correo: nombre@dominio.xxx</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="rut" >RUT</label>
                        <div class="col-sm-6"> 
                            <input type="text" name="rut" ng-model="vCtrl.inputData.rut" class="form-control" id="rut" placeholder="Ingrese su RUT" required pattern="\d{7,8}-[\d|kK]{1}" title="Debe ser un Rut válido. Formato: 1234567-8">
                        </div>
                        <div ng-messages="dataForm.rut.$error" style="color:red" ng-if='dataForm.rut.$dirty'>
                            <div ng-message="required">Debe ingresar RUT</div>
                            <div ng-message="pattern">Formato: 1234567-8</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="phone" >Teléfono</label>
                        <div class="col-sm-6"> 
                            <input type="number" name="phone"  ng-model="vCtrl.inputData.phone" class="form-control" id="phone" placeholder="Ingrese su Teléfono" required>
                        </div>
                        <div ng-messages="dataForm.phone.$error" style="color:red" ng-if='dataForm.phone.$dirty'>
                            <div ng-message="required">Debe ingresar Teléfono</div>
                       
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir1" >Dirección 1</label>
                        <div class="col-sm-6"> 
                            <input type="text" name="dir1" ng-model="vCtrl.inputData.dir1" class="form-control" id="dir1" placeholder="su dirección" required>
                        </div>
                        <div ng-messages="dataForm.dir1.$error" style="color:red" ng-if='dataForm.dir1.$dirty'>
                            <div ng-message="required">Debe ingresar Dirección</div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir2" >Dirección 2</label>
                        <!-- COMOBOBOX REGION -->
                        <div class="col-sm-4"> 
                            <select class="form-control" ng-model ="vCtrl.region" ng-options="region.name for region in vCtrl.regionList " required>
                                <option value="" disabled selected>Región</option>
                            </select>
                        </div>
                        <!-- COMOBOBOX COMUNA -->
                        <div class="col-sm-4"> 
                            <select class="form-control" ng-model ="vCtrl.commune" ng-options="commune.name for commune in vCtrl.communeList | filter: {region_code: vCtrl.region.code}:true" required>
                                <option value="" disabled selected>Comuna</option>
                            </select>
                        </div>
                    </div>    
                    <br>
                    <div class="form-group">
                        <div class="col-sm-6">
                            
                        </div>
                        <div class="col-sm-3">
                            <button type="submit" class="btn btn-success pull-right" id="submit" value="Ingresar">
                                <span class="glyphicon glyphicon-ok"></span>&nbsp;&nbsp;&nbsp;Ingresar
                            </button>
                            
                        </button>
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-danger pull-right" ng-click="vCtrl.clean()" value="Limpiar">
                                Limpiar &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-remove"></span>
                            </button>
                        </div>
                    </div>
                </form>   
            </div>
            <!-- LADO DERECHO -->
            <div class="col-md-6">
                <br>
                <br>
                <br>
                <br>
                 <!-- DATOS -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name" >Nombres</label>
                        <div class="col-sm-9">
                            <p>{{vCtrl.showData.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="lastName" >Apellidos</label>
                        <div class="col-sm-9"> 
                            <p>{{vCtrl.showData.lastName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email" >Correo</label>
                        <div class="col-sm-9"> 
                            <p>{{vCtrl.showData.email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir1" >RUT</label>
                        <div class="col-sm-9"> 
                            <p>{{vCtrl.showData.rut}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir1" >Teléfono</label>
                        <div class="col-sm-9"> 
                            <p>{{vCtrl.showData.phone}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir1" >Dirección 1</label>
                        <div class="col-sm-9"> 
                            <p>{{vCtrl.showData.dir1}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir2" >Dirección 2</label>
                        <div class="col-sm-9"> 
                            <p>{{vCtrl.showData.dir2}}</p>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            <button type="button" class="btn btn-primary pull-right" ng-click="vCtrl.showAlert()" ng-show="vCtrl.confirmButton" value="Confirmar">
                                Confirmar &nbsp;&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-floppy-disk"></span> 
                            </button>
                        </div>
                </form>

            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-right">
                <hr>
                    <p>Diseñado por piperocks &copy; 2016 &nbsp;&nbsp;&nbsp;&nbsp;</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Data -->
    <script src="js/comunas.js"></script>
    <script src="js/regiones.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
