<!DOCTYPE html>
<html ng-app="desafio" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Desafio 2</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/desafio.css" rel="stylesheet">
    <!-- AngularJS -->   
    <script src="angular.js"></script>
    <script src="script.js"></script>
</head>

<body  ng-controller="formController as cForm">

    <!-- Page Content -->
    <div class="container-fluid">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">
                        <img src="http://placehold.it/150x50&text=Logo" alt="">
                    </a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <h1 class="side-logo">&nbsp;&nbsp;XMart la mejor tienda </h1>
                <!-- /.navbar-collapse -->
        </nav>

        <!-- Nav bar -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">Inicio <span class="sr-only">(actual)</span></a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Tienda</a></li>
                            <li><a href="#">Contacto</a></li>
                        </ul>
                    </div>  
            </div>
        </nav>

        <!-- Content Row -->
        <div class="row">
            <div class="col-md-6">
                 <!-- Forulario -->
                <form ng-submit="cForm.submit()" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name" >Nombres</label>
                        <div class="col-sm-9">
                            <input type="text" ng-model="cForm.inputData.name" class="form-control" id="name" placeholder="Ingrese su nombre" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="lastName" >Apellidos</label>
                        <div class="col-sm-9"> 
                            <input type="text" ng-model="cForm.inputData.lastName" class="form-control" id="lastName" placeholder="Ingrese su apellido" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mail" >Correo</label>
                        <div class="col-sm-9"> 
                            <input type="email" ng-model="cForm.inputData.email" class="form-control" id="email" placeholder="Ingrese su correo" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir1" >Dirección 1</label>
                        <div class="col-sm-9"> 
                            <input type="text" ng-model="cForm.inputData.dir1" class="form-control" id="dir1" placeholder="su dirección" required>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir2" >Dirección 2</label>
                        <div class="col-sm-9"> 
                            <input type="text" ng-model="cForm.inputData.dir2" class="form-control" id="dir2" placeholder="su dirección" required>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default" id="submit" value="Ingresar"/>
                        </div>
                        <div class="col-sm-3">
                            <input type="button" class="btn btn-default" ng-click="cForm.clean()" value="Limpiar"/>
                        </div>
                    </div>

                </form>   
            </div>
            <!--  -->
            <div class="col-md-6">
                 <!-- Datos -->
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name" >Nombres</label>
                        <div class="col-sm-9">
                            <p>{{cForm.showData.name}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="lastName" >Apellidos</label>
                        <div class="col-sm-9"> 
                            <p>{{cForm.showData.lastName}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="email" >Correo</label>
                        <div class="col-sm-9"> 
                            <p>{{cForm.showData.email}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir1" >Dirección 1</label>
                        <div class="col-sm-9"> 
                            <p>{{cForm.showData.dir1}}</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="dir2" >Dirección 2</label>
                        <div class="col-sm-9"> 
                            <p>{{cForm.showData.dir2}}</p>
                        </div>
                    </div>
                    <div class="form-group"> 
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                        </div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-default" ng-click="cForm.showAlert()" ng-show="cForm.confirmButton" value="Confirmar"/>
                        </div>
                </form>

            </div>
        </div>
        <!-- /.row -->

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12 text-right">
                <hr>
                    <p>Diseñado por piperocks &copy; 2016</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>

</html>
